<h1>Question</h1>

<div class="container">
  <div class="form-group">
    <form action="answer">
      <input type="text" name="question" class="form-control">
      <input type="submit" name="" value="ask" class="btn primary-btn">
    </form>
  </div>
</div>
